[submodule "uninstlog"]
	path = Jaws_script_installer/uninstlog
	url = https://github.com/campg2j003/uninstlog
[submodule "jfw_nsh"]
	path = Jaws_script_installer/jfw_nsh
	url = https://github.com/campg2j003/jfw_nsh
	branch = installer_ml_mu
